<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li>
            <NavLink href="/" Match=NavLinkMatch.All>
                <span class="glyphicon glyphicon-home"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/example/Jignesh">
                <span class="glyphicon glyphicon-link"></span> Routing Example
            </NavLink>
        </li>
        <li>
            <NavLink href="/accessQueryParameter">
                <span class="glyphicon glyphicon-link"></span> Accessing Query Parameter
            </NavLink>
        </li>
    </ul>
</div>

@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
