@page "/Demo"
@inherits DemoComponent
<div class="col-md-4">
    <button class="btn btn-success" onclick="CalledCSFunction()">Call Java Script</button>
</div>
<br />
<div class="col-md-4">
    <button class="btn btn-success" onclick="CalledCSFunctionWithParameter()">Call Java Script (with parameter)</button>
</div>
<br />
<div class="col-md-4">
    <button class="btn btn-success" onclick="CallInstanceMethod()">Call Instance Method</button>
</div>
<br />
<div class="col-md-4">
    <button class="btn btn-success" onclick="updateUIExample()">Update UI Example</button>
</div>
<br />
@message