@typeparam TItem

<table border="1">
    <thead>
        <tr>@Header</tr>
    </thead>
    <tbody >
        @foreach (var item in Items)
        {   
            <tr>@Row(item)</tr>
        }
    </tbody>
    <tfoot>
        <tr>@Footer</tr>
    </tfoot>
</table>

@functions {
    [Parameter]
    RenderFragment Header { get; set; }

    [Parameter]
    RenderFragment<TItem> Row { get; set; }

    [Parameter]
    RenderFragment Footer { get; set; }

    [Parameter]
    IReadOnlyList<TItem> Items { get; set; }
}

