@page "/cssexample"

<h1>CSS EXample</h1>

<div class="col-12 style1">
    <p>Applying Style 1</p>
</div>
<div class="col-12 style2">
    <p>Applying Style 2</p>
</div>
<div class="col-12 style3">
    <p>Applying Style 3</p>
</div>

@code {
    
}
