@page "/parentcomponent"
<h3>Parent Component</h3>

<div>
    <p>paragraph:: This is Parent Component content</p>
    <ChildComponent></ChildComponent>
    <div>
        div:: This is parent component content
    </div>
</div>

@code {

}
